// kommentar

doctype html
html
  head
    style
      include style.css
    meta(http-equiv='expires', content='0')
    meta(http-equiv='pragma', content='no-cache')
    meta(http-equiv='refresh' content='10')
  body
    p= timeInfo
    img.box(src=bild, width='600', height='420', alt='Door Icon')
    br
    .gallery
      a(target='_blank', href='http://192.168.178.33:8080/Door.jpg')
        img(src='http://192.168.178.33:8080/Door.jpg', alt='Bild nicht gefunden', width='640', height='400')
      .desc Guckst Du
    br
    a.button(href='http://192.168.178.33:3000/do') Auf / Zu

